* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.app.dark {
    background-color: rgb(84, 84, 100);
}

.app.light {
    background-color: #eeedf3;
}

.app.light header{
    background-color: #1399a7;
}

.app.dark header{
    background-color: #000000;
}